// views/partials/progressContainer.pug

- var failedRecords = typeof failedRecords !== 'undefined' ? failedRecords : []
- var duplicateRecords = typeof duplicateRecords !== 'undefined' ? duplicateRecords : []
- var createdRecords = typeof createdRecords !== 'undefined' ? createdRecords : []
- var updatedRecords = typeof updatedRecords !== 'undefined' ? updatedRecords : []
- var importReportId = typeof importReportId !== 'undefined' ? importReportId : null

div#progress-container.progress-container.hidden
    // Header Section
    div.progress-header
        h5 Household Import
        button.close-button(type='button', aria-label='Close')
            .material-symbols-outlined close
    
    // Tabs Section
    ul.nav.nav-tabs#progressTabs
        li.nav-item.progressNavItem.successTab
            a.nav-link.active(href='#created-tab', data-bs-toggle='tab')
                | Created
                span.badge.badge-success.badge-count(style='display: none;', aria-label='Created Records Count')
        li.nav-item.progressNavItem.successTab
            a.nav-link(href='#updated-tab', data-bs-toggle='tab')
                | Updated
                span.badge.badge-success.badge-count(style='display: none;', aria-label='Updated Records Count')
        li.nav-item.progressNavItem
            a.nav-link(href='#failed-records-tab', data-bs-toggle='tab')
                | Failed
                span.badge.badge-danger.badge-count(style='display: none;', aria-label='Failed Records Count')
        li.nav-item.progressNavItem
            a.nav-link(href='#duplicate-records-tab', data-bs-toggle='tab')
                | Duplicates
                span.badge.badge-warning.badge-count(style='display: none;', aria-label='Duplicate Records Count')
    
    // Tab Content Section
    div.tab-content#progressTabContent
        // Created Tab
        div.tab-pane.fade.show.active#created-tab
            ul.list-group#created-list
                if createdRecords.length > 0
                    each record in createdRecords
                        li.list-group-item
                            span.material-symbols-outlined.text-success.me-2 check_circle
                            | #{record.firstName} #{record.lastName}
                else
                    li.list-group-item No records have been created yet.
    
        // Updated Tab
        div.tab-pane.fade#updated-tab
            ul.list-group#updated-list
                if updatedRecords.length > 0
                    each record in updatedRecords
                        li.list-group-item
                            span.material-symbols-outlined.text-success.me-2 update
                            | #{record.firstName} #{record.lastName} - Updated fields: #{record.updatedFields.join(', ')}
                else
                    li.list-group-item No records have been updated yet.
    
        // Failed Records Tab
        div.tab-pane.fade#failed-records-tab
            ul.list-group#failed-records-list
                if failedRecords.length > 0
                    each record in failedRecords
                        li.list-group-item
                            span.material-symbols-outlined.text-danger.me-2 cancel
                            | #{record.firstName || 'N/A'} #{record.lastName || 'N/A'} - #{record.reason}
                else
                    li.list-group-item No failed records.
    
        // Duplicate Records Tab
        div.tab-pane.fade#duplicate-records-tab
            ul.list-group#duplicate-records-list
                if duplicateRecords.length > 0
                    each record in duplicateRecords
                        li.list-group-item
                            span.material-symbols-outlined.text-warning.me-2 warning
                            | #{record.firstName || 'N/A'} #{record.lastName || 'N/A'} - #{record.reason}
                else
                    li.list-group-item No duplicate records.
    
    // Footer Section with Progress Info and Progress Bar
    div.progress-footer
        div.progress-info
            span#imported-counter Created: 0 | Updated: 0 | Total: 0
            span#estimated-time Estimated Time: N/A
        div.progress-bar-container
            button#get-report-button.btn.btn-primary.mt-2(style='display: none;') Get Report
            div.progress-bar.progress-bar-striped.progress-bar-animated.d-flex.justify-content-center.align-items-center(
                role='progressbar',
                aria-valuenow='0',
                aria-valuemin='0',
                aria-valuemax='100',
                style='width: 0%'
            ) 0%
    
               
