div#beneficiary-upload-step
  h4.import-modal-header.mb-3 Upload Beneficiary File
  p.import-modal-subtext.mb-3.text-muted Please upload your CSV or Excel containing beneficiary data.
  // PRE-UPLOAD BOX
  .upload-box.beneficiary-upload-box#beneficiary-file-dropzone
    span.upload-icon.material-symbols-outlined upload
    label.custom-upload-button(for='beneficiary-file-input') Choose File
    .upload-box-text
      span.or-text.clickToUpload Click to upload
      span.or-text or drag and drop CSV or Excel files.

  // DURING UPLOAD (progress bar)
  .upload-progress.hidden#beneficiary-upload-progress
    .progress
      div#beneficiary-progress-bar.progress-bar.progress-bar-striped.progress-bar-animated(
        role='progressbar',
        aria-valuenow='0',
        aria-valuemin='0',
        aria-valuemax='100',
        style='width: 0%'
      ) 0%
    .file-details.mt-2
      img#beneficiaryFileIcon(src='images/excel-file-icon.png', alt='File Icon', width='30', height='30')
      span#beneficiaryUploadedFileName.text-muted Uploading...

  // COMPLETED STATE
  .upload-completed.hidden#beneficiary-upload-completed
    .d-flex.align-items-center
      .fileIconContainer
        img.fileCompletedIcon(src='images/check_circle.png')
        img#completedBeneficiaryFileIcon(src='images/excel-file-icon.png', alt='File Icon', width='30', height='30', class='me-2')
      span#completedBeneficiaryFileName.text-muted File Uploaded Successfully
    button#removeBeneficiaryFileButton.btn.btn-danger.btn-sm.ms-auto(type='button') Remove File

  // The hidden file input
  input#beneficiary-file-input(
    type='file',
    hidden,
    name='beneficiaryFileUpload',
    accept='.csv,.xlsx'
  )

  // As‑of date (required)
  .label-required.mt-4.mb-1(as-of-label) As‑of Date
  input.form-control(type='date', id='asOfDateInput', required)
