extends layout

block title
  title Household Guardrails | SurgeTk

block content
  script.
    window.householdId = "#{householdId}";

  #alert-container

  .column-layout
    .left-column
      .d-flex.align-items-center.mb-3.header-space-between
        .name-and-back
          a(href=`/households/${householdId}/value-adds`, class='me-3 text-decoration-none text-secondary backArrow')
            i.fas.fa-angle-left
          h2.householdDetailHeader #{householdName}
        .value-adds-title.dropdown
          .dropdown-toggle#valueAddDropdownTrigger
            .material-symbols-outlined.value-add-icon add_road
            h5.summary-header.mb-2.value-add-title Guardrails
            //- .material-symbols-outlined.value-add-icon keyboard_arrow_down

          ul.dropdown-menu#valueAddDropdownMenu
            li.dropdown-item(data-value="buckets")
              span.check-icon 
              | Buckets
            li.dropdown-item(data-value="guardrails")
              span.check-icon 
              | Guardrails
            li.dropdown-item(data-value="beneficiary")
              span.check-icon
              | Beneficiary
            li.dropdown-item(data-value="net-worth")
              span.check-icon
              | Net Worth


      #guardrails-alert.alert.alert-danger(style='display: none;')
      .page-actions-container
        .paper-container
          .iframe-wrapper
            iframe#guardrailsIframe(
              style="width: 8.5in; height: 11in; border: none; overflow: hidden;",
              scrolling="no"
            )

    .buttons-row.mb-3.value-add-action-buttons
      select#guardrailsSnapshotSelect.form-select(style="width: 200px;")
        option(value="live") Live
      button.refresh-button.btn.btn-primary#generateGuardrailsBtn(type='button')
        i.fas.fa-sync.me-2
        | Refresh
      button.btn.btn-outline-secondary#saveGuardrailsBtn(type='button')
        i.fas.fa-save.me-2
        | Save
      button.btn.btn-secondary#printBtn(type='button')
        i.fas.fa-print.me-2
        | Print
      button.btn.btn-outline-secondary#downloadGuardrailsBtn(type='button')
        i.fas.fa-download.me-2
        | Download
      button.btn.btn-outline-secondary#emailGuardrailsBtn(type='button')
        i.fas.fa-envelope.me-2
        | Email
      button.btn.btn-outline-secondary.learn-more-btn(type='button' data-video-id='76979871')
        i.fas.fa-play-circle.me-2
        | Learn more

   
      .sticky-note-wrapper
        textarea#stickyNote.sticky-note(
          placeholder='Add notes…')



block scripts
  script(src='/socket.io/socket.io.js') 
  script(src="/js/loading.js")
  script(src='/js/householdGuardrails.js')
  script(src='/js/appScript.js')
  script(src='/js/valueAddScript.js')
  script(src='/js/valueAddVideo.js')
  script.
    document.addEventListener('DOMContentLoaded', function() {
      const printBtn = document.getElementById('printBtn');
      const iframe = document.getElementById('guardrailsIframe');

      if (printBtn && iframe) {
        printBtn.addEventListener('click', () => {
          if (iframe.contentWindow) {
            iframe.contentWindow.focus();
            iframe.contentWindow.print();
          }
        });
      }
    })
